eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 8769
spring:
  application:
    name: service-zuul
zuul:
  routes:
    api-a:
      path: /blog/**
      serviceId: service-user
    api-b:
      path: /user/**
      serviceId: service-blog

